apiVersion: v1
kind: ResourceQuota
metadata:
  name: compute-quota
  namespace: prod
spec:
  hard:
    requests.cpu: "8"
    requests.memory: 2Gi
    limits.cpu: "2"
    limits.memory: 16Gi
    pods: "20"
